<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>clooca game - 管理者</title>
		<link href="/static/css/game/style.css" rel="stylesheet">
		<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){
			});
		</script>
	</head>
	<body>
	<div id="wrapper">
		<div id="header">
			<div id="menu">
			<div id="menu-item"><a href="/">トップ</a></div>
			<div id="menu-item"><a href="/dashboard">ダッシュボード</a></div>
			<div id="menu-item">ランキング</div>
			</div>
			<div id="login-info"></div>
		</div>
		<div id="main">
		<a href="/reg">新規登録</a>
		</div>
		<div id="footer">フッター</div>
	</div>
	</body>
</html>