<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>clooca game - バトル画面</title>
		<link href="/static/css/game/style.css" rel="stylesheet">
		<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script src="/static/js/jcanvas.min.js"></script>
		<script type="text/javascript" src="/static/js/Box2dWeb-2.1.a.3.min.js"></script>
		<script src="/static/js/game/clooca_game.js"></script>
		<script src="/static/js/game/GameEnvironment.js"></script>
		<script src="/static/js/game/StateMachine.js"></script>
		<script src="/static/js/game/player.js"></script>
			<style>
	#default-selectable .ui-selecting { background: #FECA40; }
	#default-selectable .ui-selected { background: #F39814; color: white; }
	#default-selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#default-selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
	#online-selectable .ui-selecting { background: #FECA40; }
	#online-selectable .ui-selected { background: #F39814; color: white; }
	#online-selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#online-selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
	</style>
		<script type="text/javascript">
			$(function(){
				load_mycharacters(function(data){
					g_mycharacters = data;
		            $("#mycharacter-selectable").empty();
		        	for(var i=0;i < data.length;i++) {
		                $('#mycharacter-selectable').append('<li class="ui-widget-content">'+data[i].name+'</li>');
		        	}
				},function(){
					
				});
				load_characters(function(data){
					g_characters = data;
		            $("#online-selectable").empty();
		        	for(var i=0;i < data.length;i++) {
		                $('#online-selectable').append('<li class="ui-widget-content">'+data[i].name+'</li>');
		        	}
				},function(){
					
				});
				$( "#dialog" ).dialog({width:360});
				$( "#tabs" ).tabs();
				$( "#dufault-selectable" ).selectable({
					stop: function() {
						$( ".ui-selected", this ).each(function() {
							var index = $( "#dufault-selectable li" ).index( this );
							$( "#dialog" ).dialog('close');
							$( "#mycharacter-dialog" ).dialog({width:360});
						});
					}
				});
				$( "#online-selectable" ).selectable({
					stop: function() {
						$( ".ui-selected", this ).each(function() {
							var index = $( "#online-selectable li" ).index( this );
							g_selected_enemy = g_characters[index];
							$( "#dialog" ).dialog('close');
							$( "#mycharacter-dialog" ).dialog({width:360});
						});
					}
				});
				$( "#mycharacter-selectable" ).selectable({
					stop: function() {
						$( ".ui-selected", this ).each(function() {
							var index = $( "#mycharacter-selectable li" ).index( this );
							var tactics = JSON.parse(g_mycharacters[index].tactics);
							var enemy_tactics = JSON.parse(g_selected_enemy.tactics);
							var stm_data1 = {event_num:4, matrix:[-1, 1,-1,-1, -1,-1, 2, 3, -1,-1, 3,-1, -1,-1,-1, 2], states:[0, 1, 2, 3]};
							var stm_data2 = {event_num:4, matrix:[-1, 1,-1,-1, -1,-1, 2, 3, -1,-1, 3,-1, -1,-1,-1, 2], states:[{action:"stop",value:"0"},{action:"forward",value:"0"}, {action:"right",value:"0"}, {action:"left",value:"0"}]};
							console.log(tactics.event_num);
							console.log(tactics.matrix[0]);
							console.log(tactics.states);
							game_env = new GameEnvironment(tactics, enemy_tactics);
							setInterval(game_main, 100);
							$( "#mycharacter-dialog" ).dialog('close');
						});
					}
				});
			});
			
			function clear_display() {
				$("canvas").drawRect({
					fillStyle: "#fff",
					  x: 0, y: 0,
					  width: 640,
					  height: 640,
					  fromCenter: false
					});
				$("canvas").drawRect({
					strokeStyle: "#000",
					strokeWidth: 20,
					  x: 48, y: 48,
					  width: 640 - 96,
					  height: 640 - 96,
					  fromCenter: false
					});
				$("canvas").drawArc({
					  strokeStyle: "black",
						strokeWidth: 16,
					  x: 320, y: 320,
					  radius: 152
					});
				$("canvas").drawPolygon({
					  fillStyle: "blue",
						strokeWidth: 8,
					  x: 320, y: 320,
					  radius: 40,
					  sides: 5
					});
			}
			
			function game_main() {
				clear_display();
				game_env.step();
			}
		</script>
	</head>
	<body>
	<div id="dialog" title="相手を選ぶ" width="300">
	<div id="tabs">
	<ul>
		<li><a href="#tabs-1">アリーナ</a></li>
		<li><a href="#tabs-2">オンライン上の相手</a></li>
	</ul>
	<div id="tabs-1">
		<ol id="dufault-selectable">
			<li class="ui-widget-content">相手①</li>
			<li class="ui-widget-content">相手②</li>
			<li class="ui-widget-content">相手③</li>
		</ol>
	</div>
	<div id="tabs-2">
		<ol id="online-selectable">
			<li class="ui-widget-content">相手①</li>
			<li class="ui-widget-content">相手②</li>
			<li class="ui-widget-content">相手③</li>
		</ol>
	</div>
	</div>
	</div> <!-- dialog -->
	<div id="mycharacter-dialog" title="自分のキャラを選ぶ" width="300">
	<ol id="mycharacter-selectable">
		<li class="ui-widget-content">相手①</li>
		<li class="ui-widget-content">相手②</li>
		<li class="ui-widget-content">相手③</li>
	</ol>
	</div> <!-- dialog -->
	<div id="wrapper">
		<div id="header">
			<div id="menu">
			<div id="menu-item"><a href="/">トップ</a></div>
			<div id="menu-item"><a href="/dashboard">ダッシュボード</a></div>
			<div id="menu-item">ランキング</div>
			</div>
			<div id="login-info"><a href="/login">ログイン</a></div>
		</div>
		<div id="main">
			<div id="content">
			<canvas id="canvas" width="640" height="640"></canvas>
			</div>
		</div>
		<div id="footer">フッター</div>
	</div>
	</body>
</html>