<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>clooca game - ログイン</title>
		<link href="/static/css/game/style.css" rel="stylesheet">
		<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){
				// hide messages 
				$("#error").hide();
				$("#success").hide();
				
				// on submit...
				$("#login-form #submit").click(function() {
					$("#error").hide();
					
					//required:
					
					//name
					var uname = $("input#uname").val();
					if(uname == ""){
						$("#error").fadeIn().text("ユーザ名が必要です。");
						$("input#uname").focus();
						return false;
					}
					
					var passwd = $("input#passwd").val();
					if(passwd == ""){
						$("#error").fadeIn().text("パスワードが必要です。");
						$("input#passwd").focus();
						return false;
					}
					
					var permanent = $("input#permanent").val();
					
					url = $("#login-form").attr( 'action' );
					
					// data string
					var dataString = 'username='+ uname
									+ '&password=' + passwd
									+ '&permanent=' + permanent;
					
					$.ajax({
						type:"POST",
						url: url,
						data: dataString,
						dataType: 'json',
						success: function(data){
							 if(data) {
								 	$("#success").fadeIn();
								 	$("#login-form").fadeOut();
								 	location.reload();
							 }else{
									$("#error").fadeIn().text("ユーザ名かパスワードが違います。");
							 }
						}
					});
					return false;
				});
			});
		</script>
	</head>
	<body>
	<div id="wrapper">
		<div id="header">
		</div>
		<div id="main">
			<div>
			<form id="login-form" action="/login-to" method="post">
			<fieldset>
			<div>ユーザ名<input type="text" name="uname" id="uname" /></div>
			<div>パスワード<input type="password" name="passwd" id="passwd" /></div>
			<div>ログイン状態を保つ<input type="checkbox" name="permanent" id="permanent" value="true" /></div>
			<input id="submit" name="submit" type="submit" value="ログイン" />
			</fieldset>
			<div id="error"></div>
			</form>
			<div id="success"></div>
			</div>
		</div>
		<div id="footer"></div>
	</div>
	</body>
</html>