<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>clooca game - ログイン</title>
		<link href="/static/css/game/style.css" rel="stylesheet">
		<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
	</head>
	<body>
	<div id="wrapper">
		<div id="header">
		</div>
		<div id="main">
			<div id="login-form">
			<form>
			<input type="text" />
			<input type="password" />
			<input type="checkbox" />
			<input type="submit" value="ログイン" />
			</form>
			</div>
		</div>
		<div id="footer"></div>
	</div>
	</body>
</html>