<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>clooca game - 新規登録</title>
		<link href="/static/css/game/style.css" rel="stylesheet">
		<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){
				// hide messages 
				$("#error").hide();
				$("#success").hide();
				
				// on submit...
				$("#reg-form #submit").click(function() {
					$("#error").hide();
					
					//required:
					
					//email
					var email = $("input#email").val();
					if(email == ""){
						$("#error").fadeIn().text("メールアドレスが必要です。");
						$("input#email").focus();
						return false;
					}
					
					//name
					var uname = $("input#uname").val();
					if(uname == ""){
						$("#error").fadeIn().text("ユーザ名が必要です。");
						$("input#uname").focus();
						return false;
					}
					
					var passwd = $("input#passwd").val();
					var confirm_passwd = $("input#confirm-passwd").val();
					if(passwd == ""){
						$("#error").fadeIn().text("パスワードが必要です。");
						$("input#passwd").focus();
						return false;
					}
					if(passwd != confirm_passwd) {
						$("#error").fadeIn().text("パスワードが一致しません。");
						$("input#confirm-passwd").focus();
						return false;
					}
					
					url = $("#reg-form").attr( 'action' );
					
					// data string
					var dataString = 'email='+ email
									+ '&username=' + uname
									+ '&password=' + passwd;
					
					$.ajax({
						type:"POST",
						url: url,
						data: dataString,
						dataType: 'json',
						success: function(data){
							 if(data) {
								 	$("#success").fadeIn();
								 	$("#reg-form").fadeOut();
							 }else{
									$("#error").fadeIn().text("既に登録されています。");
							 }
						}
					});
					return false;
				});
			});
		</script>
	</head>
	<body>
	<div id="wrapper">
		<div id="header">
		</div>
		<div id="main">
			<div>
			<form id="reg-form" action="/reg-to" method="post">
			<fieldset>
			<div>メールアドレス<input type="text" name="email" id="email" /></div>
			<div>ユーザ名<input type="text" name="uname" id="uname" /></div>
			<div>パスワード<input type="password" name="passwd" id="passwd" /></div>
			<div>パスワード<input type="password" name="confirm-passwd" id="confirm-passwd" /></div>
			<input id="submit" name="submit" type="submit" value="ログイン" />
			</fieldset>
			<div id="error"></div>
			</form>
			<div id="success"></div>
			</div>
		</div>
		<div id="footer"></div>
	</div>
	</body>
</html>