<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>clooca game - 戦略エディタ</title>
		<link href="/static/css/game/style.css" rel="stylesheet">
		<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script src="/static/js/jcanvas.min.js"></script>
		<script src="/static/js/game/clooca_game.js"></script>
		<script src="/static/js/game/GameEnvironment.js"></script>
		<script src="/static/js/game/StateMachine.js"></script>
		<script src="/static/js/game/player.js"></script>
		<script type="text/javascript">
			$(function(){
				g_game_type = '{{game_type}}';
				load_characters(function(data){
					g_characters = data;
		            $("#online-selectable").empty();
		        	for(var i=0;i < data.length;i++) {
		                $('#online-selectable').append('<li class="ui-widget-content">'+data[i].name+' by '+data[i].owner_name+'</li>');
		        	}
				},function(){
					
				});
				$( "#dialog" ).dialog({width:400});
				$( "#tabs" ).tabs();
				$( "#dufault-selectable" ).selectable({
					stop: function() {
						$( ".ui-selected", this ).each(function() {
							var index = $( "#dufault-selectable li" ).index( this );
							$( "#dialog" ).dialog('close');
							$( "#mycharacter-dialog" ).dialog({width:360});
						});
					}
				});
				$( "#online-selectable" ).selectable({
					stop: function() {
						$( ".ui-selected", this ).each(function() {
							var index = $( "#online-selectable li" ).index( this );
							g_selected_enemy = g_characters[index];
							$( "#dialog" ).dialog('close');
							$( "#mycharacter-dialog" ).dialog({width:360});
						});
					}
				});
				$( "#mycharacter-selectable" ).selectable({
					stop: function() {
						$( ".ui-selected", this ).each(function() {
							var index = $( "#mycharacter-selectable li" ).index( this );
							var tactics = JSON.parse(g_mycharacters[index].tactics);
							var enemy_tactics = JSON.parse(g_selected_enemy.tactics);
							var stm_data1 = {event_num:4, matrix:[-1, 1,-1,-1, -1,-1, 2, 3, -1,-1, 3,-1, -1,-1,-1, 2], states:[0, 1, 2, 3]};
							var stm_data2 = {event_num:4, matrix:[-1, 1,-1,-1, -1,-1, 2, 3, -1,-1, 3,-1, -1,-1,-1, 2], states:[{action:"stop",value:"0"},{action:"forward",value:"0"}, {action:"right",value:"0"}, {action:"left",value:"0"}]};
							game_env = new GameEnvironment(tactics, enemy_tactics);
							setInterval(game_main, 80);
							$( "#mycharacter-dialog" ).dialog('close');
						});
					}
				});
			});
			
			function clear_display() {
				$("canvas").drawRect({
					fillStyle: "#fff",
					  x: 0, y: 0,
					  width: 640,
					  height: 640,
					  fromCenter: false
					});
				$("canvas").drawRect({
					strokeStyle: "#000",
					strokeWidth: 20,
					  x: 48, y: 48,
					  width: 640 - 96,
					  height: 640 - 96,
					  fromCenter: false
					});
				$("canvas").drawArc({
					  strokeStyle: "black",
						strokeWidth: 16,
					  x: 320, y: 320,
					  radius: 152
					});
				$("canvas").drawPolygon({
					  fillStyle: "blue",
						strokeWidth: 8,
					  x: 320, y: 320,
					  radius: 40,
					  sides: 5
					});
			}
			
			function game_main() {
				clear_display();
				game_env.step();
			}
			function test_start() {
				load_mycharacters(function(data){
					g_mycharacters = data;
					for(var i=0;i < g_mycharacters.length;i++) {
						if(g_mycharacters[i].id == {{pid}}) {
							var tactics = JSON.parse(g_mycharacters[i].tactics);
							var stm_data = {event_num:4, matrix:[-1, -1,-1,-1, -1,-1, 2, 3, -1,-1, 3,-1, -1,-1,-1, 2], states:[{action:"stop",value:"0"},{action:"forward",value:"0"}, {action:"right",value:"0"}, {action:"left",value:"0"}]};
							game_env = new GameEnvironment(tactics, stm_data, true);
							setInterval(game_main, 80);
							break;
						}
					}
				},function(){
					
				});
			}
		</script>	</head>
	<body>
	<div id="wrapper">
		<div id="header">
			<div id="menu">
			<div id="menu-item"><a href="/">トップ</a></div>
			<div id="menu-item"><a href="/dashboard">ダッシュボード</a></div>
			<div id="menu-item">ランキング</div>
			</div>
			<div id="login-info"><a href="/login">ログイン</a></div>
		</div>
		<div id="main">
			<div id="content">
			<iframe src="/tactics-editor-frame/{{pid}}" width=640 height=540></iframe>
			<a href="javascript:test_start()">START</a>
			<canvas id="canvas" width="640" height="640"></canvas>
			</div>
		</div>
		<div id="footer">フッター</div>
	</div>
	</body>
</html>