<style>
.project-info-wrapper {
	width: 320px;
	height: 90%;
	overflow: auto;
}
.project-info {
	width: 300px;
	height: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0a0;
    color: #0f0f0f;
    text-decoration: none;
    border: 3px #d0d0d0 solid;
}
.project-info:hover {
	color: #1f1f1f;
    background-color: #f0f0c0;
}
.create-tool {
	width: 300px;
	height: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0c0;
    color: #0f0f0f;
    text-decoration: none;
    border: 3px #d0d0d0 dotted;

}
</style>
<script>
<!-- 
$(function() {
	$('#create-tool').click(function(){
		$.post("/tool/create",
				{tool_key : $('#tool-key').val(), tool_name : $('#tool-name').val(), vis:$('#tool-vis').val() },
				function(data){
			
		});
		window.alert($('#tool-name').val());
		return false;
	});
})
-->
</script>
<div class="project-info-wrapper">
<form>
<div>ツールキー<input id="tool-key" type="text" name="tool-key" /></div>
<div>ツール名<input id="tool-name" type="text" name="tool-name" /></div>
<div>公開します<input id="tool-vis" type="checkbox" name="tool-vis" value="true" /></div>
<div></div><input id="create-tool" type="submit" value="新規作成" class="button-type1" style="width:240px;"/>
</form>
</div>
