<style>
.project-info-wrapper {
	width: 320px;
	height: 90%;
	overflow: auto;
}
</style>
<script>
<!-- 
$(function() {
	$('div#tool-info').click(function(){
		$(this).find('input').each(function(){
			var tool_key = $(this).val();
			window.location.href = '#tool/' + tool_key;
		});
	});
	$('#create-tool').click(function(){
		window.location.href = "/#create-tool"
	});
})
-->
</script>
<div class="project-info-wrapper">
<div id="create-tool" class="new-box">新規作成</div>
{% for tool in tools %}
<div id="tool-info" class="midium-box">
	<div class="project-name">{{tool.name}}</div>
	version:{{tool.head_version}}
	<input type="hidden" name="tool_key" value="{{tool.tool_key}}" />
</div>
{% endfor %}
</div>
