<style>
.project-info-wrapper {
	width: 320px;
	height: 90%;
	overflow: auto;
}
.project-info {
	width: 300px;
	height: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0a0;
    color: #0f0f0f;
    text-decoration: none;
    border: 3px #d0d0d0 solid;
}
.project-info:hover {
	color: #1f1f1f;
    background-color: #f0f0c0;
}
.create-tool {
	width: 300px;
	height: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0c0;
    color: #0f0f0f;
    text-decoration: none;
    border: 3px #d0d0d0 dotted;

}
</style>
<script>
<!-- 
$(function() {
	$('div#user-info').click(function(){
		$(this).find('input').each(function(){
			var user_id = $(this).val();
			window.location.href = '/wb/' + user_id;
		});
	});
	$('#create-tool').click(function(){
		window.location.href = "/#create-tool"
	});
})
-->
</script>
<div class="project-info-wrapper">
<div id="user-info" class="project-info">
	<div class="project-name">{{tool.name}}</div>
	version:{{tool.head_version}}
	作成日:{{tool.created_date}}
	<input type="hidden" name="tool_key" value="{{tool.tool_key}}" />
	<a href="/wb/{{tool.tool_key}}" >編集</a>
</div>
</div>
