<style>
.project-info-wrapper {
	width: 320px;
	height: 90%;
	overflow: auto;
}
.project-info {
	width: 300px;
	height: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0a0;
    color: #0f0f0f;
    text-decoration: none;
    border: 3px #d0d0d0 solid;

}
</style>
<div class="project-info-wrapper">
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
<div class="project-info">ツール１</div>
</div>
