<div id="latest-feed">
{% for feed in feeds %}
<div id="latest-feed-item">{{feed.content}}</div>
{% endfor %}
				<div id="latest-feed-item">グループ〇〇にコメントがつきました。</div>
				<div id="latest-feed-item">あなたのツールにコメントがつきました</div>
				<div id="latest-feed-item">プロジェクト××が更新されました。</div>
				<div id="latest-feed-item">こんなことがあったよ</div>
				<div id="latest-feed-item">こんなことがあったよ</div>
				</div>
				<div id="latest-info">
				<div id="latest-info-item">新着ツール</div>
				<div id="latest-info-item">新着ツール</div>
				<div id="latest-info-item">新着ツール</div>
				<div id="latest-info-item">cloocaからのお知らせ</div>
				<div id="latest-info-item">cloocaからのお知らせ</div>
				</div>
