<!DOCTYPE html>
<html class='no-js'>
<head>
    <meta charset='UTF-8' />
    <title>clooca game</title>
    <meta content='width=device-width' name='viewport' />
    <link href='/static/css/style-naoe.css' rel='stylesheet' />
    <script src='/static/js/modernizr.js'></script>
    	<script src="/static/js/lib/jquery-1.7.1.min.js"></script>
	    <script src="/static/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
	    <script>
	    <!--
	    $(function(){
		 	$("#loginForm").submit(function(event) {

			    /* stop form from submitting normally */
			    event.preventDefault(); 
			        
			    /* get some values from elements on the page: */
			    var $form = $( this ),
			        email = $form.find( 'input[name="email"]' ).val(),
			        password = $form.find( 'input[name="password"]' ).val(),
			        permanent = $form.find( 'input[name="permanent"]' ).val(),
			        url = $form.attr( 'action' );
			    
			    /* Send the data using post and put the results in a div */
			    $.post( url, { email: email, password: password , permanent : permanent},
			      function( data ) {
			    	if(data != null) {
			    		$('#login').empty().append('<a href="/logout">logout '+data.uname+'</a>&nbsp;&nbsp;&nbsp;');
			    		$( "#login_dialog" ).dialog('close');
			    		if(data.state == 0) {
				    		alert('無料期間中です。'+data.registration_date+'から。');
			    		}else if(data.state == 1) {
				    		alert('続けてお使いになる場合は、料金をお支払いください。'+data.registration_date+'から。');
			    		}
			    		window.location.reload();
			    	}else{
			    		$('#login-messaeg').empty().append('ユーザ名かパスワードが違います。');
			    	}
			      }, "json");
			  });
	    })
		  -->
	    </script>
  </head>
<body class="index">
<div class='container'>
      <header>
        <div class='wrapper'>
          <a class='symbolset-logo' href='./index.html'>
          <img alt='clooca game' src='img/clooca_logo_1.png' />
          </a> ログイン<br>
          <nav class="right">
          	<a href='./register.html'>新規登録</a>
          	<a href='./login.html'>ログイン</a>
          </nav>
        </div>
      </header>
	  <section class="wrapper">
      	<div class='promo'>
        	<div id="login-form-container" class="inputForm">
        	  <form id="loginForm" name="form1" method="post" action="/login-to">
            	<table border="0" cellpadding="10" cellspacing="10">
                  <tr>
                    <th>ユーザ名</td>
                    <td><input name="email" type="text" id="userid" tabindex="1" size="25"></td>
                  </tr>
                  <tr>
                    <th>パスワード</td>
                    <td><input name="password" type="password" id="passed" tabindex="2" size="25"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;</td>
                    <td><input type="checkbox" name="permanent" value="permanent" id="stable" tabindex="3">
                    ログイン状態を維持</td>
                  </tr>
                  <tr>
                    <th>                  
                    <td><input type="submit" name="button" id="button" class="button" value="ログイン" tabindex="4" style="width:245px;"></td>
                  </tr>
                  <tr>
                    <th>                  
                    <td><input type="submit" name="buttonfb" id="buttonfb" class="button buttonfb" value="facebookでログイン" tabindex="4" style="width:245px;"></td>
                  </tr>
                </table>
              </form>
          </div>
        </div>
      </section>
</div> <!-- end .container -->
  <footer>
      <div class='wrapper'>
        <nav>
          <ul>
            <li>clooca</li>
            <li>
              <a href='/policy'>Privacy Policy</a>
            </li>
            <li>
              <a href='mailto:syuhei176@gmail.com'>Contact</a>
            </li>
          </ul>
        </nav>
        <div class='copyright'>
          <span>
            Copyright &copy; 2012
          <a href='http://technicalrockstars.co.jp/' target='_blank'>株式会社Technical Rockstars All Rights Reserved.</a>
          </span>
        </div>
      </div>
</footer>
</body>
</html>