<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>clooca mypage</title>
		
		<!-- CSS -->
		<link rel="stylesheet" href="/static/css/clooca.css" type="text/css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    	<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
    	<script src="/static/js/lib/jquery-1.7.1.min.js"></script>
	    <script src="/static/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
	    <script>
	    <!--
	    $(function(){
		 	$("#updateForm").submit(function(event) {

			    /* stop form from submitting normally */
			    event.preventDefault(); 
			        
			    /* get some values from elements on the page: */
			    var $form = $( this ),
			    	fullname = $form.find( 'input[name="fullname"]' ).val(),
			        password = $form.find( 'input[name="password"]' ).val(),
			        confirm = $form.find( 'input[name="password_confirm"]' ).val(),
			        url = $form.attr( 'action' );
			    
			    if(password == '') {
			    	//名前のみ変更
				    $.post( url, { fullname: fullname },
						      function( data ) {
						    	if(data != null) {
						    		window.location.reload();
						    	}else{
						    		
						    	}
						      }, "json");
			    }else{
			    	if(password == confirm) {
			    		//パスワード変更
					    $.post( url, { fullname: fullname, password: password },
							      function( data ) {
							    	if(data != null) {
							    		window.location.reload();
							    	}else{
							    	}
							      }, "json");
			    	}else{
			    		//パスワードが一致していない
			    		
			    	}
			    }
			});
	    });
		  -->
	    </script>
	</head>
	
	<body class="home">
		<!-- WRAPPER -->
		<div id="wrapper">
			<div id="header">
				<div class="logo">
					<a href="/#home">clooca</a>
				</div>
				<div id="menu-wrapper">
					<ul id="menu">
					<li><a href="#">アイコン１</a></li>
					<li><a href="#">アイコン１</a></li>
			    	</ul>
			    </div>
				<div class="login">
				{{user['email']}}
				</div>
			</div>
			<div id="main">
				<div id="content-left">
				</div>
			<div id="content">
			<div id="update-form-container">
			<form id="updateForm" action="/update-userinfo">
			<fieldset>
			<div><label class="controll-label" for="fullname">名前</label><div><input type="text" name="fullname" value="{{user['fullname']}}"/></div></div>
			<div><label class="controll-label" for="password">新しいパスワード</label><div><input type="password" name="password" /><span>（パスワードを変更する場合のみ）</span></div></div>
			<div><label class="controll-label" for="password_confirm">確認</label><div><input type="password" name="password_confirm" /><span>（パスワードを変更する場合のみ）</span></div></div>
			<input class="button-type1" type="submit" value="変更" />
			</fieldset>
			</form>
			</div>
			<div>
			関連プロジェクト
			</div>
			</div>
				<div id="content-right">
				開発者登録
				</div>
			</div>
			<div id="footer">
			Copyright &copy 2011-2012 株式会社Technical Rockstars  all rights reserved.
			</div>
		</div>
		<!-- ENDS WRAPPER -->
	</body>
</html>