<!doctype html>
<html>
<head>
<meta name="gwt:property" content="locale=ja">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>clooca rep viewer</title>
<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
</script>
</head>
<body>

{% for key in history['verlist'] %}
<table border=4 width=250 align=center>
 <caption>{{ history['verlist'][key]['version'] }}.{{ history['verlist'][key]['content'] }}</caption>
 <tr bgcolor="#cccccc">
  <th>id</th>
  <th>version</th>
  <th>ver_type</th>
  <th>meta_id</th>
  <th>type</th>
 </tr>
{% for i in history['verlist'][key]['changes'] %}
<tr align=center>
  <td>{{i['id']}}</td>
  <td>{{i['version']}}</td>
  {% if i['ver_type'] == 0 %}
  <td>更新</td>
  {% endif %}
  {% if i['ver_type'] == 1 %}
  <td>追加</td>
  {% endif %}
  {% if i['ver_type'] == 2 %}
  <td>削除</td>
  {% endif %}
  <td>{{i['meta_id']}}</td>
  <td>{{i['type']}}</td>
  {% if i['type'] == 'property' %}
  <td>{{i['value']}}</td>
  {% endif %}
  
</tr>
{% endfor %}
</table>
{% endfor %}
</body>
</html>
