<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>clooca</title>
		
		<!-- CSS -->
		<link rel="stylesheet" href="/static/css/clooca.css" type="text/css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    	<link href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
    	<script src="/static/js/lib/jquery-1.7.1.min.js"></script>
	    <script src="/static/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
	    <script>
	    $(function(){
	    	$('#market').click(function(){
    			window.location.hash = 'market';
	    	});
	    	$('#tools a').click(function(){
    			window.location.href = '#projects/' + $(this).attr('href');
    			return false;
	    	});
	    	$('#myproject').click(function(){
    			window.location.hash = 'projects';
	    	});
	    	$('#mytool').click(function(){
	    		$.get("/mytool", function(data){
	    			$('.left-menu li a').each(function(){
	    				$(this).removeClass('left-menu-selected');
	    			});
	    			$('#content').html(data);
	    			$('#mytool').addClass('left-menu-selected');
	    		});
	    	});
	    	$('#mytool-available').click(function(){
    			window.location.hash = 'available-tools';
	    	});
	    	
	    	$('#mytool-developping').click(function(){
    			window.location.hash = 'developping-tools';
	    	});
	    	

	    	loadbyhash();
	    	
	    	$('#finder').click(function(){
	    		if($('#sesarch-text').val() != '') {
	    			window.location.href = '/search/' + $('#sesarch-text').val();
	    		}
	    	});
	    	
	    	$('#request').click(function(){
		    	window.location.hash= "request";
		    	
	    	});
	    	
	    	
	    	$('#new_todo').click(function(){
		    	window.location.hash= "new_todo";
		    	
	    	});
	    	
	    	

	    	$(window).bind('hashchange', function() {
  	
	    		loadbyhash();
	
	    	});
	    	
	    	function loadbyhash() {
	    		
    			$('.left-menu li a').each(function(){
    				$(this).removeClass('left-menu-selected');
    			});
	    		var hash = window.location.hash;
	    		
	    		if(hash.indexOf('/') > 0) {
	    			hashes = hash.split('/');
		    		if(hashes[0] == '#tool') {
			    		$.get("/tool/info-view/" + hashes[1], function(data){
			    			$('#content').html(data);
			    		});
		    		}else if(hashes[0] == '#projects'){
		    			$.get("/myprojects/" + hashes[1], function(data){
		    				$('#content').html(data);
			    		});
		    		}else if(hashes[0] == '#create-project'){
			    		$.get("/proj/create-view/" + hashes[1], function(data){
			    			$('#content').html(data);
			    			$('#mytool-developping').addClass('left-menu-selected');
			    		});
		    		}else if(hashes[0] == '#project-page'){
			    		$.get("/project-page/" + hashes[1], function(data){
			    			$('#content').html(data);
			    		});
		    		}
	    		}else{
		    		if(hash == '#home') {
			    		$.get("/home", function(data){
			    			$('#content').html(data);
			    		});
		    		}else if(hash == '#market'){
			    		$.get("/market", function(data){
			    			$('#content').html(data);
			    			$('#market').addClass('left-menu-selected');
			    		});
		    		}else if(hash == '#projects'){
			    		$.get("/project", function(data){
			    			$('#content').html(data);
			    			$('#myproject').addClass('left-menu-selected');
			    		});
		    		}else if(hash == '#available-tools'){
			    		$.get("/mytool/available", function(data){
			    			$('#content').html(data);
			    			$('#mytool-available').addClass('left-menu-selected');
			    		});
		    		}else if(hash == '#developping-tools'){
			    		$.get("/mytool/developping", function(data){
			    			$('#content').html(data);
			    			$('#mytool-developping').addClass('left-menu-selected');
			    		});
		    		}else if(hash == '#create-tool'){
			    		$.get("/tool/create-view", function(data){
			    			$('#content').html(data);
			    			$('#mytool-developping').addClass('left-menu-selected');
			    		
			    		});
		    		}else if(hash == '#groups'){
		    			
		    		}else if(hash=="#request"){
			    		console.log("hash name is request");
			    		$.get("/sns/reqs", function(data){
			    			$('#content').html(data);
			    			
			     		});
		    		}else if(hash=="#new_todo"){
		    			console.log("hash name is new_todo");
			    		
		    		}
	    		}
	    	}
	    });
	    </script>
	    
	</head>
	
	<body class="home">
		<!-- WRAPPER -->
		<div id="wrapper">
			<div id="header">
				<div class="logo">
					<a href="/#home">clooca</a>
				</div>
				<div id="finder-wrapper">
					<input id="sesarch-text" type="text" />
					<input id="finder" type="submit" value="検索" class="button-type1" style="width:40px;" />
			    </div>
				<div id="menu-wrapper">
					<ul id="menu">
					<li><a id = "new_todo">新規TODO</a></li>
					<li><a id="request">リクエスト</a></li>
			    	</ul>
			    </div>
				<div class="login">
				<a href="/mypage">{{user['email']}}</a>
				</div>
				<div class="myhome">
				<a href="/#home">ホーム</a>
				</div>
			</div>
			<div id="main">
				<div id="content-left">
				<div class="left-menu-wrapper">
					<ul class="left-menu">
					<li><a id="market">マーケット</a></li>
			    	</ul>
					<h4>ツール</h4>
					<ul id="tools" class="left-menu">
{% for tool in tools %}
					<li><a href="{{tool.tool_key}}">{{tool.name}}</a></li>
{% endfor %}
					<li><a class="view-all">全部見る</a></li>
					</ul>
					<h4>ダッシュボード</h4>
					<ul class="left-menu">
					<li><a id="myproject">マイプロジェクト</a></li>
					<li><a id="mytool">マイツール</a>
						<ul>
						<li><a id="mytool-available">使用可能なツール</a></li>
						{% if user.is_developper: %}
						<li><a id="mytool-developping">開発中のツール</a></li>
						{% endif %}
				    	</ul>
					</li>
<!-- 			    	</ul> -->
			    </div>
				<div class="left-menu-wrapper">
					<h4>グループ</h4>
					<ul class="left-menu">
					<li><a href="#">グループ１</a></li>
					<li><a href="#">グループ２</a></li>
			    	</ul>
			    </div>
				</div>
			<div id="content">
			</div>
				<div id="content-right">
				<!-- もしdevelopperでなければ -->
				{% if not user.is_developper: %}
				開発者登録
				{% endif %}
				</div>
			</div>
			<div id="footer">
			Copyright &copy 2011-2012 株式会社Technical Rockstars  all rights reserved.
			</div>
		</div>
		<!-- ENDS WRAPPER -->
	</body>
</html>