<style>
.project-info-wrapper {
	width: 320px;
	height: 90%;
	overflow: auto;
}
.project-info {
	width: 300px;
	height: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0a0;
    color: #0f0f0f;
    text-decoration: none;
    border: 3px #d0d0d0 solid;     /* 枠線の装飾 */

}
.project-info:hover {
    background-color: #0f0f4f;
    color: #f0f0f0;
    text-decoration: none;
    border: 3px #d0d0d0 solid;     /* 枠線の装飾 */

}
.project-name {
}
.project-version {
}
.project-owner {
}
.project-date {
}
</style>
<script type="text/javascript">
<!--
$(function(){
	$('div#project-info').click(function(){
		$(this).find('input').each(function(){
			var project_id = $(this).val();
			window.location.href = "/#project-page/" + project_id;
		});
	});
	$('#create-project').click(function(){
		window.location.href = "/#create-project/{{toolinfo.tool_key}}"
	});
})
//-->
</script>
<h2>{{toolinfo.name}}</h2>
<div class="project-info-wrapper">
<div id="create-project" class="new-box">新規作成</div>
{% for proj in projects %}
<div id="project-info" class="midium-box">
	<input type="hidden" name="project_id" value="{{proj.id}}" />
	<div id="project-name">{{proj.name}}　オーナー</div>
	<div id="project-version">version {{proj.head_version}}</div>
	<div id="project-date">2012/7/6</div>
</div>
{% endfor %}
</div>
