<style>
.project-info-wrapper {
	width: 320px;
	height: 90%;
	overflow: auto;
}
.project-info {
	width: 300px;
	height: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0a0;
    color: #0f0f0f;
    text-decoration: none;
    border: 3px #d0d0d0 solid;     /* 枠線の装飾 */

}
.project-info:hover {
    background-color: #0f0f4f;
    color: #f0f0f0;
    text-decoration: none;
    border: 3px #d0d0d0 solid;     /* 枠線の装飾 */

}
.project-name {
}
.project-version {
}
.project-owner {
}
.project-date {
}
</style>


<script>
$(function(){
	$('input#friend-request').click(function(){
		$(this).parent().find('input').each(function(){
			if($(this).val() != '許可') {
				var user_id = {{user.id}};
				var requesting_user_id = $(this).val();
				console.log(requesting_user_id+"|"+user_id);
				$.post("/sns/accept",
						{requesting_user_id : user_id},
						function(data){
					
				});
			}
		});
	});
})
</script>
<div id="users-wrapper" class="project-info-wrapper">

{% if not items %}
<div>友達リクエストはありません。</div>
{% endif %}


{% for item in items %}
<div id="user-info" class="project-info">
	<div class="project-name">名前: {{item.fullname}}</div>
	<input type="hidden" name="user_id" value="{{item.id}}" />
	<input id="friend-request" type="button" value="許可" />
</div>
{% endfor %}
</div>
<form>
	<input type="hidden" name="user_id" value="" />
</form>
